body {
    max-width: 54em;
    padding: 2em .5em;
    margin: 0 auto;
    color:$black;
    background:$white;
}

h1,h2,h3,h4,h5,h6{
    font-weight:bold;
    // padding:0 0 1em 0;
}

h1{
    // font-size:1.3em;
    padding-bottom:.2em;
    margin-bottom:.5em;
    display:block;
    border-bottom:.1rem solid $black;
}

h2{
    // font-size:1.2em;
}

h2,h3,h4,h5,h6{
    padding-bottom:.5em;
}

p{
    margin-bottom:1em;
}

li{
    // padding-left:1em;
    list-style-position:inside;
}

pre{
    font-family:monospace;
    margin:1em 0;
    padding:.5em;
    background:$grey;
}