.intro-note{
    font-size:.9em;
    background:$primary_light;
    border-radius:.2em;
    box-shadow:rgba($black,.2) 0 .2em .1em -.1em;
    padding:.5em 1em;
    margin-bottom:2em;
    // line-height:1.4;
    a{
        color:$primary;
        text-shadow:none;
        box-shadow:
            inset $primary_light 0 -.3rem 0 0,
            inset $primary 0 -.3rem 0 0;
        &:hover{
            color:$black;
            box-shadow:
                inset $primary_light 0 -.0rem 0 0,
                inset $primary 0 -.3rem 0 0;
        }
    }
}