$colour_lego:$blue;
$colour_mus:$green;
$colour_art:$red;
$colour_des:$black;
$colour_dev:$primary;

.homeGraphWrapper{
    margin:4em auto 4em;
}

.homeGraph{
    width:80%;
    padding-bottom:30%;
    margin:0 auto;
}

.homeGraph{
    cursor:pointer;
    color:$grey;
    position:relative;
    > svg{
        position:absolute;
        top:0;
        left:0;
    }
    path { 
        stroke:$grey;
        stroke-width:.1rem;
        fill:none;
        transition:stroke .2s;
        &.line_lego.selected{stroke:$colour_lego;}
        &.line_mus.selected{stroke:$colour_mus;}
        &.line_art.selected{stroke:$colour_art;}
        &.line_des.selected{stroke:$colour_des;}
        &.line_dev.selected{stroke:$colour_dev;}
    }
    .axis text{
        fill:$greyDark;
        @include bp(d3){
            font-size:.5em;
        }
    }
    .axis path,
    .axis line {
        fill:none;
        stroke:$grey;
        stroke-width:.1rem;
        shape-rendering:crispEdges;
    }
    .hover{
        stroke:none;
        fill:none;
        r:.2rem;
        display:none;
        &.active{
            display:block;
        }
        &.y_lego.selected{fill:$colour_lego;}
        &.y_mus.selected{fill:$colour_mus;}
        &.y_art.selected{fill:$colour_art;}
        &.y_des.selected{fill:$colour_des;}
        &.y_dev.selected{fill:$colour_dev;}
    }
    .chartarea{
        stroke:none;
        fill:rgba($primary,0);
        transition:fill .2s;
        &.area_lego.selected{fill:rgba($colour_lego,.3);}
        &.area_mus.selected{fill:rgba($colour_mus,.3);}
        &.area_art.selected{fill:rgba($colour_art,.3);}
        &.area_des.selected{fill:rgba($colour_des,.3);}
        &.area_dev.selected{fill:rgba($colour_dev,.3);}

    }
}

.homeGraphTitle{
    text-align:center;
}

.homeGraphSelectors{
    text-align:center;
    .homeGraphSelector{
        font-size:.8em;
        display:inline-block;
        padding-right:1em;
        // font-weight:bold;
        .visibleLabel{
            user-select:none;
            line-height:1.4;
            padding:0 .4em 0 0;
        }
        .check{
            position:relative;
            top:-.2em;
            &.lego label{border-color:$colour_lego;}
            &.mus label{border-color:$colour_mus;}
            &.art label{border-color:$colour_art;}
            &.des label{border-color:$colour_des;}
            &.dev label{border-color:$colour_dev;}
        }
    }
}

.caption{
    display:block;
    width:100%;
    text-align:center;
}