.audio-module-keyboard{
    border:.2rem solid $black;
    border-top-width:.4em;
    padding:0 1em 1em 1em;
}

.audio-module-key{
    list-style:none;
    width:7.14%;
    float:left;
    border:.2rem solid $white;
    display:block;
    // height:4em;
    margin:0;
    padding:0;
    padding-bottom:20%;
    position:relative;
    z-index:1;
    background:$grey;
    cursor:pointer;
    border-bottom-right-radius:.4em;
    border-bottom-left-radius:.4em;
    border-top-width:0;
    &:before{display:none;}
    &.accidental{
        background:$black;
        width:5%;
        margin-left:-2.5%;
        margin-right:-2.5%;
        // margin-left:-3.571%;
        // margin-right:-3.571%;
        padding-bottom:15%;
        border-right-width:.4rem;
        border-left-width:.4rem;
        border-bottom-width:.4rem;
        z-index:2;
    }
    &:active{
        background:$primary;
    }
}

.volume-display-wrapper{
    width:1em;
    height:20em;
    position:relative;
    background:$black;
    .volume-display{
        width:1em;
        height:0;
        position:absolute;
        bottom:0;
        left:0;
        background:$primary;
    }
}