.svg-vs-png{
    text-align:center;
    .item-wrapper{
        display:inline-block;
        overflow:hidden;
        padding:.5em;
        margin:.5em;
        border:.1rem solid $grey;
    }
    .item-mask{
        width:64px;
        height:64px;
        // overflow:hidden;
        position:relative;
    }
    .svg{
        fill:$primary;
    }
    .svg,
    .masked-image{
        display:block;
        position:absolute;
        top:0;
        left:0;
        max-width:none;
    }
    .one-x{
        .svg,
        img{
            width:64px !important;
            height:64px;
        }
    }
    .two-x{
        .svg,
        img{
            width:128px !important;
            height:128px;
        }
    }
}

.inline-image-block{
    width:auto !important;
    height:auto !important;
    max-width:none;
    margin:.5em auto;
    display:block;
}