.homeGraphWrapper{
    margin:4em auto 4em;
}

.homeGraph{
    width:80%;
    // height:50%;
    // height:15em;
    padding-bottom:30%;
    // background:rgba(red,.4);
    margin:0 auto;
}

.homeGraph{
    // font-family:$display;
    cursor:pointer;
    color:$grey;
    position:relative;
    > svg{
        position:absolute;
        top:0;
        left:0;
    }
    path { 
        stroke:$grey;
        // stroke:rgba($black,.4);
        stroke-width:.1rem;
        fill:none;
        transition:stroke .2s;
        &.line_lego.selected{stroke:$blue;}
        &.line_mus.selected{stroke:$green;}
        &.line_art.selected{stroke:$red;}
        &.line_des.selected{stroke:$black;}
        &.line_dev.selected{stroke:$primary;}
    }
    .axis text{
        color:$black;
        fill:$black;
        @include bp(d3){
            font-size:.5em;
        }
    }
    .axis path,
    .axis line {
        fill:none;
        stroke:$grey;
        stroke-width:.1rem;
        shape-rendering:crispEdges;
    }
    .hover{
        stroke:none;//$grey;
        // stroke:rgba($black,.4);
        fill:none;//$grey;
        // stroke-width:.1rem;
        r:.2rem;
        display:none;
        &.active{
            display:block;
        }
        // &.y_lego{stroke:$white;}
        // &.y_mus{stroke:$green;}
        // &.y_art{stroke:$grey;}
        // &.y_des{stroke:$black;}
        // &.y_dev{stroke:$primary;}
        &.y_lego.selected{
            // stroke:$blue;
            fill:$blue;
            // fill:$white;
        }
        &.y_mus.selected{
            // stroke:$green;
            fill:$green;
            // fill:$white;
        }
        &.y_art.selected{
            // stroke:$red;
            fill:$red;
            // fill:$white;
        }
        &.y_des.selected{
            // stroke:$black;
            fill:$black;
            // fill:$white;
        }
        &.y_dev.selected{
            // stroke:$primary;
            fill:$primary;
            // fill:$white;
        }
    }
    .chartarea{
        stroke:none;
        fill:rgba($primary,0);//rgba($primary,.2);
        transition:fill .2s;
        &.area_lego.selected{fill:rgba($blue,.3);}
        &.area_mus.selected{fill:rgba($green,.3);}
        &.area_art.selected{fill:rgba($red,.3);}
        &.area_des.selected{fill:rgba($black,.3);}
        &.area_dev.selected{fill:rgba($primary,.3);}

    }
}

.homeGraphTitle{
    text-align:center;
}

.homeGraphSelectors{
    text-align:center;
    margin-top:4em;
    .homeGraphSelector{
        font-size:.8em;
        display:inline-block;
        padding-right:1em;
        // text-transform:uppercase;
        // letter-spacing:.1em;
        font-weight:bold;
        // font-family:$display;
        .visibleLabel{
            user-select:none;
            line-height:1.4;
            padding:0 .4em 0 0;
        }
        .check{
            position:relative;
            top:-.2em;
            // margin-top:.2em;
            // font-size:.6em;
        }
    }
}

.caption{
    display:block;
    width:100%;
    text-align:center;
}