.site-header{
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
    background:white;
    border-top:.1rem solid $grey;
    z-index:2;
    // box-shadow:rgba($black,.1) 0 -.1em .1em 0;
}

.header-inner{
    max-width:54em;
    padding:0.5em;
    margin:0 auto;
}

.site-title{
    display:inline;
}

.main-navigation{
    display:inline;

    > div{
        display:inline;
    }

    ul{
        display:inline;
    }

    li{
        display:inline;
        &:before{
            display:none;
        }
    }

    .current-menu-item a{
        position:relative;
        display:inline-block;
        cursor:default;
        &:before{
            content:'';
            display:block;
            width:1em;
            height:1px;
            background:$grey;
            position:absolute;
            bottom:0;
            left:50%;
            margin-left:-.5em;
        }
    }
}

.home-link{
    position:absolute;
    top:0;
    left:0;
    color:$grey;
    font-size:.8em;
    display:block;
    padding:.5em;
}