// Typography etc.

// Fonts
$display:'Comic Sans MS',"brandon-grotesque",'futura','gil sans',sans-serif;
$text:'Comic Sans MS',"ff-tisa-web-pro",georgia,serif;
// $display:$text;
$book:400;
$bold:700;
$code:'Comic Sans MS', Menlo,Monaco,'Andale Mono','Lucida Console','Courier New',monospace;//"droid-sans-mono",monospace;

// Weights
$book:400;
$bold:700;
