// Typography etc.

// Fonts
$display:"brandon-grotesque",'futura','gil sans',sans-serif;
$text:"ff-tisa-web-pro",georgia,serif;
// $display:$text;
$book:400;
$bold:700;
$code: Menlo,Monaco,'Andale Mono','Lucida Console','Courier New',monospace;//"droid-sans-mono",monospace;

// Weights
$book:400;
$bold:700;
